<div class="article">
    <div class="image">
        <img src="{{ image }}" alt="{{ node.label }}"/>
    </div>
    <h1 class="title">
        {{ label[0] }}
    </h1>
    <div class="content">
        {{ content.body }}
    </div>
</div>
