.recent-articles {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    height: auto;

    .box {
        width: 32.1%;
    }

    .article-mini {
        background: white;
        box-shadow: 0 0 18px #00000029;
        padding: 1rem;
        position: relative;
        margin: 10px auto;
    }
}

.recent-articles.space .box {
    padding: 0.5rem;
}
